.warehouse-page{
  padding:20px;
}

.warehouse-form{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap:15px;
  margin-bottom:25px;
  align-items:end;
}

.table-container{
  overflow-x:auto;
}

.warehouse-table{
  width:100%;
  border-collapse:collapse;
  background:white;
  min-width:800px;
}

.warehouse-table th,
.warehouse-table td{
  padding:12px;
  border-bottom:1px solid #e5e7eb;
  text-align:left;
}

.action-icons{
  display:flex;
  gap:12px;
}

.edit-icon{
  cursor:pointer;
  color:#2563eb;
  transition:0.2s;
}

.delete-icon{
  cursor:pointer;
  color:#dc2626;
  transition:0.2s;
}

.edit-icon:hover,
.delete-icon:hover{
  transform:scale(1.2);
}

/* Mobile */

@media (max-width:768px){

  .warehouse-form{
    grid-template-columns:1fr;
  }

}